

.footer {
  width:100%;
  padding:1% 0 0;
  font-family: calibri;
  letter-spacing:1.2px;
  color:#fdfdfd;
}
.footer.index-page {
  position:absolute;
  bottom:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
.footer:not(.index-page) {
  background:rgba(255,255,255,0.1);
}